<style type="text/css">
.ZT1 {	font-family: "Comic Sans MS", cursive;
	font-size: 50px;
	text-align: center;
	font-weight: bold;
	color: #F66;
}
.ZT2 {	color: #F6;
}
.ZT2 {	color: #6C3;
	font-family: "Comic Sans MS", cursive;
	font-size: 36px;
	font-weight: bold;
}
.ZT2 {	text-align: left;
	font-size: 48px;
}
.df {
	color: #F33;
	font-weight: bold;
	font-family: "华文楷体";
	text-align: center;
	font-size: 18px;
}
.gh {
	color: #F33;
	font-weight: bold;
	font-family: "华文楷体";
	text-align: center;
	font-size: 18px;
}
.tast {
	font-family: "华文楷体";
	font-size: 18px;
	color: #336;
	text-align: center;
}
.test {	font-size: 18px;
	font-weight: bold;
}
.test {	font-size: 18px;
}
.test {	font-size: 18px;
	color: #336;
}
.test {	font-weight: bold;
}
.test {	font-weight: bold;
}
.test {	font-weight: bold;
}
.test {	font-weight: bold;
}
.test {
	font-weight: bold;
	color: #336;
	font-family: "华文楷体";
	text-align: center;
}
.test1 {
	font-family: "华文楷体";
	font-size: 18px;
	font-weight: bold;
	color: #336;
	text-align: center;
}
.zsd {
	color: #F33;
	font-weight: bold;
	font-family: "华文楷体";
	text-align: center;
	font-size: 18px;
}
.zt {	text-align: center;
}
.zt {
	color: #F33;
	font-weight: bold;
	font-family: "华文楷体";
	font-size: 18px;
}
body {
	background-image: url(Image/15.jpg);
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #333;
	background-repeat: repeat-x;
	text-align: left;
}
.eee {
	font-size: 80px;
	color: #3C3;
	text-align: left;
}
.sss {
	text-align: center;
}
.wwww {
	text-align: center;
	font-family: "华文隶书";
	font-size: 80px;
}
.wwww {
	font-family: "华文隶书";
	font-size: 90px;
}
.ruu {
	font-family: "华文隶书";
	font-size: 17px;
}
</style>